{{> header }}


    {{> navbar }}


    <div class="row">
       <div class="col-8">
           <h1>Foto de Gary</h1>
           <p>Este es mi gatito</p>
       </div>

        <div class="col-4">
            <img src="assets/img/gary.jpg" class="img-thumbnail">
        </div>

    </div>

 {{> footer }}